body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: darkgoldenrod;
    color: #1b1818;
    margin: 0;
    padding: 0;
}

header {
    background: rgb(87, 176, 232);
    color: black;
    padding: 20px;
    text-align: left;

}

header h1 {
    gap: 50%;
}

section {
    padding: 20px;
    margin: 10px auto;
    max-width: 50%;
    background: rgb(150, 230, 242);
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,1.5);
}

h2{
    color: #1b1818;
}

.about {
    padding: 20px;
}

#title2 {
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px;
    background: rgb(61, 64, 141);
}

.sociallinks {
    margin-top: 10px;
}

.sociallinks > a{
    margin: 0 10px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.sociallinks > a:hover{
    text-decoration: underline;
    font-size: 18px;
    color: black;
}

footer > p {
    color: black;
    font-weight: bold;
    font-size: 13px;
}

/* Project list */
.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-card {
    background-color: rgb(87, 176, 232);
    border-left: 4px solid blue;
    padding: 15px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,1.5);
    transition: transform 0.2s;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card > h3 {
    margin-top: 0;
    color: azure;
}

.project-card > p {
    font-size: 14px;
    color: black;
}

.project-card > a {
    display: inline-block;
    padding: 8px 15px;
    background-color: #007bff;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.project-card > a:hover {
    background-color: azure;
}

nav {
    background-color: rgb(61, 64, 141);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: left;
    padding: 10px 0;
    margin: 0;
    gap: 20px;
    text-decoration: solid;
}

.navbar > li > a {
    display: inline-block;
    padding: 6px 12px;
    color: black;
    background-color:  rgb(87, 176, 232);
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.navbar > li > a:hover {
    background-color: azure;
}

img {
    display: flex;
    justify-content: left;
    border-radius: 50%;
    padding: 20px;
}

.typed-out {
    overflow: hidden;
    font-size: 10px;
    width: 50%;
    white-space: nowrap;
    animation: typing 7s forwards;
    border-right: .20em solid black;
    background-repeat: repeat-x;
}

.container {
    display: flex;
}

@keyframes typing {
    from { width: 0%;}
    to { width: 40%;}
}

